doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width')
  title Uz Leather Style
  link(rel='stylesheet' href='css/bootstrap.min.css')
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css')
#exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    form(method='POST' action='/')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Modal title
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          .form-group
            label.col-form-label(for='recipient-name') Recipient:
            input#recipient-name.form-control(type='text' name='name')
          .form-group
            label.col-form-label(for='message-text') Message:
            textarea#message-text.form-control(name='message')
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Save changes
header
  .container-fluid.header.pr-0
    nav.navbar.navbar-expand-lg.navbar-light.pt-5
      a.navbar-brand(href='#')
        img(src='imgs/Uz_Leather_Style.png' alt='brand-logo-tiny-one')
      #navbarNav.collapse.navbar-collapse.justify-content-end
        ul.navbar-nav.justify-content-around
          li.nav-item.text-light
            a.nav-link(href='#')
              i.fas.fa-phone-alt
          li.nav-item.nav-text-decoration
            p
              | +998(71) 267-53-85 
              br
              |  +998(90) 000-00-00
          li.nav-item
            a.nav-link(href='#')
              i.fas.fa-file-signature
          li.nav-item.nav-text-decoration
            p &Ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy; &zcy;&acy;&yacy;&vcy;&kcy;&ucy; &ncy;&acy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;
          li.nav-item
            a.nav-link(href='#')
              i.fab.fa-facebook
          li.nav-item
            a.nav-link(href='#')
              i.fab.fa-twitter
          li.nav-item
            a.nav-link(href='#')
              i.fab.fa-instagram
    nav.navbar.navbar-expand-lg.navbar-light.mb-5.p-0
      button.navbar-toggler.toggler-own-styles.font-weight-bold(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon  
        | Menu
      #navbarNav.collapse.navbar-collapse.justify-content-end
        ul.navbar-nav.navbar-nav-bg.justify-content-around
          li.nav-item.text-light
            a.nav-link.text-white(href='#') &Ocy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&iecy;
          li.nav-item
            a.nav-link.text-white(href='#') &Ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tcy;&ocy;&rcy;&ycy;
          li.nav-item
            a.nav-link.text-white(href='#') &ZHcy;&yucy;&rcy;&icy;
          li.nav-item
            a.nav-link.text-white(href='#') &Gcy;&acy;&lcy;&iecy;&rcy;&iecy;&yacy;
          li.nav-item
            a.nav-link.text-white(href='#') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
main
  section.heading
    .container-fluid
      .row.d-flex.flex-row
        .col.ml-5.p-0
          img(src='imgs/Слой 2.png' alt='')
        .col.mr-5
          p.text-right
            | &Rcy;&IEcy;&Scy;&Pcy;&Ucy;&Bcy;&Lcy;&Icy;&Kcy;&Acy;&Ncy;&Scy;&Kcy;&Icy;&Jcy; &Kcy;&Ocy;&Ncy;&Kcy;&Ucy;&Rcy;&Scy; 
            br
            |  &Mcy;&Ocy;&Lcy;&Ocy;&Dcy;&Ycy;&KHcy; &Dcy;&Icy;&Zcy;&Acy;&Jcy;&Ncy;&IEcy;&Rcy;&Ocy;&Vcy; 
            br
            |  &Ocy;&Bcy;&Ucy;&Vcy;&Icy;, &Acy;&Kcy;&Scy;&IEcy;&Scy;&Scy;&Ucy;&Acy;&Rcy;&Ocy;&Vcy; &Icy;
            br
            |  &Icy;&Zcy;&Dcy;&IEcy;&Lcy;&Icy;&Jcy; &Icy;&Zcy; &Kcy;&Ocy;&ZHcy;&Icy; &Icy; &Mcy;&IEcy;&KHcy;&Acy;
  section.slider.mb-5
    .container-fluid
      .row.d-flex.flex-row.align-items-center
        .col.d-inline.flex-column.align-items-center.p-5.w-50.list-group-bg.ml-5
          ul.list-group.list-group-flush.list-group-bg
            li.list-group-item.list-group-bg
              a.text-decoration-none.text-dark(href='#') &Pcy;&ocy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&iecy;
            li.list-group-item.list-group-bg
              a.text-decoration-none.text-dark(href='#') &Ncy;&ocy;&mcy;&icy;&ncy;&acy;&tscy;&icy;&icy;
            li.list-group-item.list-group-bg
              a.text-decoration-none.text-dark(href='#') &Ocy;&rcy;&gcy;&kcy;&ocy;&mcy;&icy;&tcy;&iecy;&tcy;
            li.list-group-item.list-group-bg
              a.text-decoration-none.text-dark(href='#') &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy; &ucy;&chcy;&acy;&scy;&tcy;&icy;&yacy;
            li.list-group-item.list-group-bg
              a.text-decoration-none.text-dark(href='#') &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
            li.list-group-item.list-group-bg
              a.text-decoration-none.text-dark(href='#') &Gcy;&acy;&lcy;&iecy;&rcy;&iecy;&yacy;
        .bd-example.d-inline.border.w-50.mr-5
          #carouselExampleCaptions.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#carouselExampleCaptions' data-slide-to='0')
              li(data-target='#carouselExampleCaptions' data-slide-to='1')
              li(data-target='#carouselExampleCaptions' data-slide-to='2')
              li(data-target='#carouselExampleCaptions' data-slide-to='3')
            .carousel-inner
              .carousel-item.active
                .w-50
                  img.d-block(src='imgs/Rectangle 7.png' alt='...')
                .carousel-caption.d-none.d-md-block.w-50
                  h5 &Ncy;&Ocy;&Mcy;&Icy;&Ncy;&Acy;&TScy;&Icy;&YAcy;
                  p.text-pink &ZHcy;&iecy;&ncy;&scy;&kcy;&acy;&yacy; &ocy;&dcy;&iecy;&zhcy;&dcy;&acy; &icy;&zcy; &kcy;&ocy;&zhcy;&icy; (&kcy;&acy;&rcy;&acy;&kcy;&ucy;&lcy;&yacy;)
                  p
                    | &vcy; &ncy;&ocy;&mcy;&icy;&ncy;&acy;&tscy;&icy;&icy; &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&yucy;&tcy;&scy;&yacy; &ecy;&scy;&kcy;&icy;&zcy;&ycy; &icy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&yacy; &vcy;&iecy;&rcy;&khcy;&ncy;&iecy;&jcy; &ocy;&dcy;&iecy;&zhcy;&dcy;&ycy;, &gcy;&ocy;&lcy;&ocy;&vcy;&ncy;&ycy;&khcy; &ucy;&bcy;&ocy;&rcy;&ocy;&vcy;
                    | &icy;&zcy; &kcy;&ocy;&zhcy;&icy; (&kcy;&acy;&rcy;&acy;&kcy;&ucy;&lcy;&yacy;) &dcy;&lcy;&yacy; &zhcy;&iecy;&ncy;&shchcy;&icy;&ncy; (&kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &icy;&zcy;&dcy;&iecy;&lcy;&icy;&jcy; &vcy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&icy; 3-4)
              .carousel-item
                .w-50
                  img.d-block(src='imgs/Rectangle 7.png' alt='...')
                .carousel-caption.d-none.d-md-block.w-50
                  h5 &Ncy;&Ocy;&Mcy;&Icy;&Ncy;&Acy;&TScy;&Icy;&YAcy;
                  p.text-pink &Mcy;&ucy;&zhcy;&scy;&kcy;&acy;&yacy; &ocy;&dcy;&iecy;&zhcy;&dcy;&acy; &icy;&zcy; &kcy;&ocy;&zhcy;&icy; (&kcy;&acy;&rcy;&acy;&kcy;&ucy;&lcy;&yacy;)
                  p
                    | &vcy; &ncy;&ocy;&mcy;&icy;&ncy;&acy;&tscy;&icy;&icy; &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&yucy;&tcy;&scy;&yacy; &ecy;&scy;&kcy;&icy;&zcy;&ycy; &icy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&icy; &vcy;&iecy;&rcy;&khcy;&ncy;&iecy;&jcy; &ocy;&dcy;&iecy;&zhcy;&dcy;&ycy; , &gcy;&ocy;&lcy;&ocy;&vcy;&ncy;&ycy;&khcy;
                    | &ucy;&bcy;&ocy;&rcy;&ocy;&vcy; &icy;&zcy; &kcy;&ocy;&zhcy;&icy; (&kcy;&acy;&rcy;&acy;&kcy;&ucy;&lcy;&yacy;)) &dcy;&lcy;&yacy; &mcy;&ucy;&zhcy;&shchcy;&icy;&ncy; (&kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &icy;&zcy;&dcy;&iecy;&lcy;&icy;&jcy; &vcy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&icy; 3-4)
              .carousel-item
                .w-50
                  img.d-block(src='imgs/Rectangle 7.png' alt='...')
                .carousel-caption.d-none.d-md-block.w-50
                  h5 &Ncy;&Ocy;&Mcy;&Icy;&Ncy;&Acy;&TScy;&Icy;&YAcy;
                  p.text-pink &Mcy;&ucy;&zhcy;&scy;&kcy;&acy;&yacy; &ocy;&bcy;&ucy;&vcy;&softcy;
                  p
                    | &Mcy;&ucy;&zhcy;&scy;&kcy;&acy;&yacy; &ocy;&bcy;&ucy;&vcy;&softcy; &vcy; &ncy;&ocy;&mcy;&icy;&ncy;&acy;&tscy;&icy;&icy; &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&yucy;&tcy;&scy;&yacy; &ecy;&scy;&kcy;&icy;&zcy;&ycy; &icy; &ocy;&bcy;&rcy;&acy;&zcy;&tscy;&ycy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;-&tscy;&icy;&icy; &mcy;&ucy;&zhcy;&scy;&kcy;&ocy;&jcy;
                    | &ocy;&bcy;&ucy;&vcy;&icy;, &ecy;&tcy;&ocy; &mcy;&ocy;&dcy;&iecy;&lcy;&icy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&yacy;&tcy;&scy;&yacy; &bcy;&ocy;&lcy;&softcy;&shcy;&icy;&mcy;&icy; &pcy;&acy;&rcy;&tcy;&icy;&yacy;&mcy;&icy; &icy; &pcy;&rcy;&ocy;&dcy;&acy;&yucy;&tcy;&scy;&yacy; &vcy;
                    | &ncy;&iecy;&bcy;&ocy;&lcy;&softcy;&shcy;&icy;&khcy; &mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;&acy;&khcy; - &bcy;&ucy;&tcy;&icy;&kcy;&acy;&khcy;, &icy; &kcy;&rcy;&ucy;&pcy;&ncy;&ycy;&mcy; &ucy;&ncy;&icy;&vcy;&iecy;&rcy;&scy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy; &mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;&acy;&mcy;.
                    | &Mcy;&ocy;&dcy;&iecy;&lcy;&icy; &scy;&ocy;&zcy;&dcy;&acy;&yucy;&tcy;&scy;&yacy; &dcy;&lcy;&yacy; &mcy;&acy;&scy;&scy;&ocy;&vcy;&ocy;&gcy;&ocy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&acy;,. (&kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&iecy;&mcy;&ycy;&khcy; &pcy;&acy;&rcy;
                    | &ocy;&bcy;&ucy;&vcy;&icy; &vcy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&icy; 3-5)
              .carousel-item
                .w-50
                  img.d-block(src='imgs/Rectangle 7.png' alt='...')
                .carousel-caption.d-none.d-md-block.w-50
                  h5 &Ncy;&Ocy;&Mcy;&Icy;&Ncy;&Acy;&TScy;&Icy;&YAcy;
                  p.text-pink &ZHcy;&iecy;&ncy;&scy;&kcy;&acy;&yacy; &ocy;&bcy;&ucy;&vcy;&softcy;
                  p
                    | &vcy; &ncy;&ocy;&mcy;&icy;&ncy;&acy;&tscy;&icy;&icy; &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&yucy;&tcy;&scy;&yacy; &ecy;&scy;&kcy;&icy;&zcy;&ycy; &icy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&yacy; &zhcy;&iecy;&ncy;&scy;&kcy;&ocy;&jcy; &mcy;&ocy;&dcy;&iecy;&lcy;&softcy;&ncy;&ocy;&jcy; &icy;&lcy;&icy;
                    | &pcy;&ocy;&vcy;&scy;&iecy;&dcy;&ncy;&iecy;&vcy;&ncy;&ocy;&jcy; &ocy;&bcy;&ucy;&vcy;&icy; (&kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&iecy;&mcy;&ycy;&khcy; &pcy;&acy;&rcy; &ocy;&bcy;&ucy;&vcy;&icy; &vcy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&icy; 3-5)
            a.carousel-control-prev(href='#carouselExampleCaptions' role='button' data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleCaptions' role='button' data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
    .container
      .row
        .col.d-flex.flex-column.align-items-center.p-5
          h2 &Ocy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&iecy;
          h3 &TScy;&IEcy;&Lcy;&Icy; &Icy; &Zcy;&Acy;&Dcy;&Acy;&CHcy;&Icy;
          p.text-center
            | &Vcy;&ycy;&yacy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy; &icy; &pcy;&ocy;&icy;&scy;&kcy; &ncy;&ocy;&vcy;&ycy;&khcy; &tcy;&vcy;&ocy;&rcy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &lcy;&icy;&chcy;&ncy;&ocy;&scy;&tcy;&iecy;&jcy;, &rcy;&iecy;&acy;&lcy;&icy;&zcy;&ucy;&yucy;&shchcy;&icy;&khcy; &scy;&iecy;&bcy;&yacy; &vcy;
            | &mcy;&ocy;&dcy;&iecy;&lcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&icy; &ocy;&bcy;&ucy;&vcy;&icy;, &acy;&kcy;&scy;&iecy;&scy;&scy;&ucy;&acy;&rcy;&ocy;&vcy; &icy; &icy;&zcy;&dcy;&iecy;&lcy;&icy;&jcy; &icy;&zcy; &mcy;&iecy;&khcy;&acy; (&kcy;&acy;&rcy;&acy;&kcy;&ucy;&lcy;&yacy;). &Pcy;&ocy;&pcy;&ucy;&lcy;&yacy;&rcy;&icy;&zcy;&acy;&tscy;&icy;&yacy; &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&iecy;&jcy;
            | &kcy;&ocy;&zhcy;&iecy;&vcy;&iecy;&ncy;&ncy;&ocy;-&ocy;&bcy;&ucy;&vcy;&ncy;&ocy;&jcy; &ocy;&tcy;&rcy;&acy;&scy;&lcy;&icy;. &Pcy;&ocy;&vcy;&ycy;&shcy;&iecy;&ncy;&icy;&iecy; &mcy;&ocy;&tcy;&icy;&vcy;&acy;&tscy;&icy;&icy; &ocy;&bcy;&ucy;&chcy;&acy;&yucy;&shchcy;&icy;&khcy;&scy;&yacy; &vcy; &ecy;&tcy;&ocy;&mcy; &ncy;&acy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&icy;.
            | &Ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&icy;&iecy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&iecy;&jcy; &pcy;&rcy;&ocy;&fcy;&iecy;&scy;&scy;&icy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy; &pcy;&rcy;&ocy;&dcy;&vcy;&icy;&zhcy;&iecy;&ncy;&icy;&yacy; &ncy;&acy;&icy;&bcy;&ocy;&lcy;&iecy;&iecy; &tcy;&acy;&lcy;&acy;&ncy;&tcy;&lcy;&icy;&vcy;&ycy;&khcy; &mcy;&ocy;&lcy;&ocy;&dcy;&ycy;&khcy; &dcy;&icy;&zcy;&acy;&jcy;&ncy;&iecy;&rcy;&ocy;&vcy;.
            | &Ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&lcy;&iecy;-&ncy;&icy;&iecy; &pcy;&lcy;&ocy;&dcy;&ocy;&tcy;&vcy;&ocy;&rcy;&ncy;&ycy;&khcy; &tcy;&vcy;&ocy;&rcy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &icy; &pcy;&rcy;&ocy;&fcy;&iecy;&scy;&scy;&icy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ocy;&vcy;.
          h3 &Ocy;&Rcy;&Gcy;&Acy;&Ncy;&Icy;&Zcy;&Acy;&Tcy;&Ocy;&Rcy;&Ycy; &Kcy;&Ocy;&Ncy;&Kcy;&Ucy;&Rcy;&Scy;&Acy;
          p.text-center
            | &Acy;&scy;&scy;&ocy;&tscy;&icy;&acy;&tscy;&icy;&yacy; &kcy;&ocy;&zhcy;&iecy;&vcy;&iecy;&ncy;&ncy;&ocy;-&ocy;&bcy;&ucy;&vcy;&ncy;&ycy;&khcy; &icy; &pcy;&ucy;&shcy;&ncy;&ocy;-&mcy;&iecy;&khcy;&ocy;&vcy;&ycy;&khcy; &pcy;&rcy;&iecy;&dcy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&jcy; &Ucy;&zcy;&bcy;&iecy;&kcy;&icy;&scy;&tcy;&acy;&ncy;&acy;
            | &quot;&Ucy;&zcy;&chcy;&acy;&rcy;&mcy;&scy;&acy;&ncy;&ocy;&acy;&tcy;&quot; &Mcy;&icy;&ncy;&icy;&scy;&tcy;&iecy;&rcy;&scy;&tcy;&vcy;&ocy; &vcy;&ycy;&scy;&shcy;&iecy;&gcy;&ocy; &icy; &scy;&rcy;&iecy;&dcy;&ncy;&iecy;&gcy;&ocy; &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &Rcy;&iecy;&scy;&pcy;&ucy;&bcy;&lcy;&icy;&kcy;&icy;
            | &Ucy;&zcy;&bcy;&iecy;&kcy;&icy;&scy;&tcy;&acy;&ncy; (&Tcy;&acy;&shcy;&kcy;&iecy;&ncy;&tcy;&scy;&kcy;&icy;&jcy; &icy;&ncy;&scy;&tcy;&icy;&tcy;&ucy;&tcy; &tcy;&iecy;&kcy;&scy;&tcy;&icy;&lcy;&softcy;&ncy;&ocy;&jcy; &icy; &lcy;&iecy;&gcy;&kcy;&ocy;&jcy; &pcy;&rcy;&ocy;&mcy;&ycy;&shcy;&lcy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&icy;).
          h3 &Ucy;&CHcy;&Acy;&Scy;&Tcy;&Ncy;&Icy;&Kcy;&Icy; &Kcy;&Ocy;&Ncy;&Kcy;&Ucy;&Rcy;&Scy;&Acy;
          p.text-center
            | &Dcy;&lcy;&yacy; &ucy;&chcy;&acy;&scy;&tcy;&icy;&yacy; &vcy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&iecy; &pcy;&rcy;&icy;&gcy;&lcy;&acy;&shcy;&acy;&yucy;&tcy;&scy;&yacy; &ucy;&chcy;&acy;&shchcy;&icy;&iecy;&scy;&yacy;, &scy;&tcy;&ucy;&dcy;&iecy;&ncy;&tcy;&ycy; &ucy;&chcy;&iecy;&bcy;&ncy;&ycy;&khcy; &zcy;&acy;&vcy;&iecy;&dcy;&iecy;&ncy;&icy;&jcy;,
            | &gcy;&ocy;&tcy;&ocy;&vcy;&yacy;&shchcy;&icy;&khcy; &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&icy;&scy;&tcy;&ocy;&vcy; &vcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy; &kcy;&ocy;&ncy;&scy;&tcy;&rcy;&ucy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &icy;&zcy;&dcy;&iecy;&lcy;&icy;&jcy; &icy;&zcy; &kcy;&ocy;&zhcy;&icy; &icy; &mcy;&iecy;&khcy;&acy; &ocy;&tcy; 16 &dcy;&ocy; 30 &lcy;&iecy;&tcy;.
footer
  .container.text-white
    .pt-5.d-flex.flex-row.justify-content-between
      .col.d-flex.flex-column.align-items-start
        ul.d-flex.flex-row
          li
            a.nav-link.text-white(href='#') &Ocy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&iecy;
          li
            a.nav-link.text-white(href='#') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
          li
            a.nav-link.text-white(href='#') &ZHcy;&yucy;&rcy;&icy;
          li
            a.nav-link.text-white(href='#') &Gcy;&acy;&lcy;&iecy;&rcy;&iecy;&yacy;
          li
            button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal')
              | modal
        .row
          p &Rcy;&iecy;&scy;&pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&ncy;&scy;&kcy;&icy;&jcy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy; &mcy;&ocy;&lcy;&ocy;&dcy;&ycy;&khcy; &dcy;&icy;&zcy;&acy;&jcy;&ncy;&iecy;&rcy;&ocy;&vcy; &ldquo;Uz_Leather_Style&rdquo;
      .col.d-flex.flex-column.align-items-end
        ul.d-flex.flex-row
          li.nav-item
            a.nav-link.text-white(href='#')
              i.fab.fa-facebook
          li.nav-item
            a.nav-link.text-white(href='#')
              i.fab.fa-twitter
          li.nav-item
            a.nav-link.text-white(href='#')
              i.fab.fa-instagram
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='js/bootstrap.min.js')
